body
    {
        background-color: rgb(255, 255, 255);
    }
canvas
    {
        pointer-events: none;       /* make the canvas transparent to the mouse - needed since canvas is position infront of image */
        position: absolute;

    }
h2 
    {
        display: flex;
        justify-content: center;
        align-items: center;    
    }